<%- include('../partials/header.ejs') %>
<section class="error-producto-container">
<p>No encontramos resultados para <span class="error-busqueda">"<%=buscar%>"</span>.</p>

<p>Utilizá palabras genéricas o navegá por las categorías para encontrar productos similares.</p>
</section>
<%- include('../partials/footer.ejs') %>