<div class="sidebar-container">
    <h3>CATEGORÍAS</h3>
    <ul>
        <li><a href="#">Perros</a></li>
        <li><a href="#">Alimento Gatos</a></li>
        <li><a href="#">Accesorios</a></li>
        <li><a href="#">Pulguicidas</a></li>
        <li><a href="#">Medicamentos</a></li>
    </ul>
</div>