<%- include('../partials/header.ejs') %>
<section>
    <h1 class="login-title">CONTACTO</h1>
    <div class="contenedor-contacto">
        <div class="contacto-izquierdo">
            <h3> Casa Central</h3>
            <p>Domicilio</p>
            <p>Ciudad, Provincia</p>
            <p>Tel. 111111111</p>
            <p>Celulares: XXX-11111111<span>/</span>XXX-11111111</p>
        </div>
        <div class="contacto-derecho">
            <h3>¿TIENE PREGUNTAS? CONTÁCTENOS.</h3>
            <a href="#"><i class="bi bi-envelope"> contacto@cfood.com</i></a>
            <a href="#"><i class="bi bi-whatsapp"> XXX-11111111</i></a>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>