<%- include('../partials/header.ejs') %>
<h1 class="login-title">MI CUENTA</h1>
<section class="dashboard-container">
    <ul class="user-dashboard">
      <li><a href="#" class="btn btn-primary">Mi Perfil</a></li>
      <li><a href="#" class="btn btn-primary">Historial Compras</a></li>
      <li><a href="#" class="btn btn-primary">Preferencias</a></li>
    </ul>
    <ul class="admin-dashboard">
        <li><a href="/dashboard/usuarios" class="btn btn-primary">Ver Usuarios</a></li>
        <li><a href="/dashboard/productos" class="btn btn-primary">Ver Productos</a></li>
    </ul>
    <a href="/logout" class="btn btn-danger">Cerrar sesión</a>
</section>
<%- include('../partials/footer.ejs') %>