<%- include('../partials/header.ejs') %>

<!--ACA COMIENZA EL HERO-->
<section>
    <div class="contenedor">
        <div class="contenedor-izq">
            <h2 class="titulo">Dale a tu Mascota la Mejor Calidad en Nutricion para una</h2>
            <p class="vida">Vida Saludable</p>
            <p class="texto">Ya sea que su perro sea un adicto a la televisión o un corredor de maratón, tenemos el alimento perfecto para apoyar su estilo de vida.</p>
            <div class="botones">
                <a href="/productos" class="btn-comprar">Comprar</button></a>
                <a href="/#faq" class="btn-leer-mas">Leer mas </button></a>
            </div>
        </div>
        <div class="contenedor-der">
          <img class="foto" src="imagenes/cachorro.jpg" alt="Mi imagen">
        </div>
    </div>
    <div class="cartelera">
        <div class="carteles">
            <p class="numeros">24</p>
            <p class="info">Horas de Delivery</p>
        </div>
        <div class="carteles">
            <p class="numeros">10</p>
            <p class="info">Años de experiencia</p>
        </div>
        <div class="carteles">
            <p class="numeros">95</p>
            <p class="info">Tipos de Alimentos</p>
        </div>
        <div class="carteles">
            <p class="numeros">20</p>
            <p class="info">Clientes Regulares</p>
        </div>
    </div>
</section>
<!-- ACA COMIENZA EL PRIMER CAROUSEL CON ALGUNOS PRODUCTOS-->
<section class="carousel-container">
    <div id="carouselPromo" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cards-container">
            <div class="card" style="width: 14rem;">
                <img src="imagenes/dogchowadultogrande.jpg" class="card-img-top" alt="dogchow adulto grande">
                <div class="card-body">
                  <h5 class="card-title">DOG CHOW ADULTO RMG 21 KGS</h5>
                  <p class="card-text">$999</p>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
              <img src="imagenes/dogchowadultomini.jpg" class="card-img-top" alt="dogchow adulto mini">
              <div class="card-body">
                <h5 class="card-title">DOG CHOW ADULTO MINI 21 KGS</h5>
                <p class="card-text">$999</p>
              </div>
          </div>
            <div class="card" style="width: 14rem;">
                <img src="imagenes/doguiadulto.jpg" class="card-img-top" alt="dogui adulto">
                <div class="card-body">
                  <h5 class="card-title">DOGUI ADULTO 24 KGS</h5>
                  <p class="card-text">$888</p>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="imagenes/excellentperroadulto.jpg" class="card-img-top" alt="excellent perro adulto grande">
                <div class="card-body">
                  <h5 class="card-title">EXCELLENT PERRO ADULTO RMG 20 KGS</h5>
                  <p class="card-text">$1333</p>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="imagenes/proplanperroadulto.jpg" class="card-img-top" alt="PROPLAN PERRO ADULTO">
                <div class="card-body">
                  <h5 class="card-title">PROPLAN PERRO ADULTO 15 KGS</h5>
                  <p class="card-text">$4444</p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cards-container">
            <div class="card" style="width: 14rem;">
                <img src="imagenes/excellentgatokitten.jpg" class="card-img-top" alt="excellent gato cachorro">
                <div class="card-body">
                  <h5 class="card-title">EXCELLENT GATO KITTEN 7,5 KGS</h5>
                  <p class="card-text">$444</p>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
              <img src="imagenes/gatiadulto.jpg" class="card-img-top" alt="gati gato adulto">
              <div class="card-body">
                <h5 class="card-title">GATI GATO ADULTO 15 KGS</h5>
                <p class="card-text">$1123</p>
              </div>
          </div>
            <div class="card" style="width: 14rem;">
                <img src="imagenes/proplangatoadulto.jpg" class="card-img-top" alt="proplan gato adulto">
                <div class="card-body">
                  <h5 class="card-title">PROPLAN GATO ADULTO 15 KGS</h5>
                  <p class="card-text">$1235</p>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="imagenes/catchowgatoadulto.jpg" class="card-img-top" alt="catchow gato adulto">
                <div class="card-body">
                  <h5 class="card-title">CAT CHOW GATO ADULTO 15 KGS</h5>
                  <p class="card-text">$1234</p>
                </div>
            </div>
            <div class="card" style="width: 14rem;">
                <img src="imagenes/proplangatokitten.jpg" class="card-img-top" alt="proplan gato cachorro">
                <div class="card-body">
                  <h5 class="card-title">PROPLAN GATO KITTEN 7,5 KGS</h5>
                  <p class="card-text">$300</p>
                </div>
            </div>
          </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPromo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselPromo" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
<!-- ACA COMIENZA EL SEGUNDO CAROUSEL CON "LOS MAS VENDIDOS", "MAS RECIENTES" Y "EN OFERTA"-->
<section class="contenedorCarrusel">
  <div class="carruseles" id="carrusel1">
      <div class="contenedorTitulos">
          <a href="#carrusel1" class="h2" id="mv">Mas Vendidos</a>
          <a href="#carrusel2" class="h2">Mas Recientes</a>
          <a href="#carrusel3" class="h2">En Promocion</a>
      </div>
      <div class="flechas">
              <a href="#carrusel3"><i class="bi bi-chevron-left"></i></a>
              <a href="#carrusel2"><i class="bi bi-chevron-right"></i></a>
      </div>
      <div class="contenedorTarjetas">
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 1.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 2.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 3.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
      </div>
  </div>
  <div class="carruseles" id="carrusel2">
      <div class="contenedorTitulos">
          <a href="#carrusel1" class="h2">Mas Vendidos</a>
          <a href="#carrusel2" class="h2" id="mr">Mas Recientes</a>
          <a href="#carrusel3" class="h2">En Promocion</a>
      </div>
      <div class="flechas">
              <a href="#carrusel1"><i class="bi bi-chevron-left"></i></a>
              <a href="#carrusel3"><i class="bi bi-chevron-right"></i></a>
      </div>
      <div class="contenedorTarjetas">
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 4.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 5.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 6.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
      </div>
  </div>
  <div class="carruseles" id="carrusel3">
      <div class="contenedorTitulos">
          <a href="#carrusel1" class="h2">Mas Vendidos</a>
          <a href="#carrusel2" class="h2">Mas Recientes</a>
          <a href="#carrusel3" class="h2" id="ep">En Promocion</a>
      </div>
      <div class="flechas">
              <a href="#carrusel2"><i class="bi bi-chevron-left"></i></a>
              <a href="#carrusel1"><i class="bi bi-chevron-right"></i></a>
      </div>
      <div class="contenedorTarjetas">
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 7.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 8.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
          <div class="tarjetas">
              <div class="contImg">
                  <img src="imagenes/img 9.jpg" alt="">
              </div>
              <div class="descripcionProducto">
                  <p>Pollo libre de grano y batata dulce</p>
                  <p>$49.99 for 24 lbs</p>
              </div>
              <div class="carrito">
                  <button class="btn">Agregar al carrito</button>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ACA COMIENZA LA SECCION "NUESTROS ALIMENTOS" -->
<section class="about-feeds">
  <h2>Nuestros Alimentos</h2>
  <p>En Cfood© somos apasionados en proveer alimentos nutritivos de alta calidad para tu amigo peludo. Creemos que sus mascotas se merecen lo mejor, es por eso que usamos los más finos ingredientes. Nuestras resetas están cuidadosamente diseñadas para ofrecer un balance dietario completo, utilizando carne, granos y otros increíbles ingredientes.</p>
  <p>Entendemos que cada mascota es única, es por eso que ofrecemos una amplia variedad de fórmulas que se ajustan a cada necesidad. Ya que sean cachorros en desarrollo, adultos mayores con necesidades nutricionales específicas, o algo entre ambos, tenemos alimentos que los mantendrán saludables y felices.</p>
  <p>Nuestros alimentos se elaboran en pequeños lotes para asegurar la frescura y la calidad, están libres de conservantes, colorantes y sabores artifiales. Estamos comprometidos con la transparencia del proceso de elaboración, para que te puedas sentir seguro en los ingredientes y las fuentes detrás de nuestros productos.</p>
  <a href="#">Sobre nosotros</a>
  <div class="custom-shape-divider-top-1686532109">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-top">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</section>
<!-- ACA COMIENZA LA SECCION DE RESENIAS -->
<section class="resenias">
  <h2>Opiniones de nuestros clientes</h2>
  <div id="carouselResenias" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="contenedor-resenias">
          <div class="borde2">
            <div class="borde1">
            <div class="card" style="width: 21rem;">
              <div class="contenedor-img-resenia">
                <img src="imagenes/resenia1.jpg" class="card-img-top" alt="dogchow adulto grande">
              </div>
              <div class="card-body">
                <h5 class="card-title">Sonia</h5>
                <div class="resenia-icon">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </div>
              <p class="card-text">Mis perritos aman la comida de esta página! La calidad es increíble.</p>
            </div>
          </div>
        </div>
        </div>
        <div class="borde2">
          <div class="borde1">
            <div class="card" style="width: 21rem;">
              <div class="contenedor-img-resenia">
                <img src="imagenes/resenia2.jpg" class="card-img-top" alt="proplan gato cachorro">
              </div>
              <div class="card-body">
                <h5 class="card-title">Emilia</h5>
                <div class="resenia-icon">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </div>
                <p class="card-text">No estaba segura de cambiarle la marca de alimentos a mi perro, pero el veterinario me recomendó que pruebe esta y le encantó!</p>
              </div>
          </div>
        </div>
     </div>
    <div class="borde2">
      <div class="borde1">
        <div class="card" style="width: 21rem;">
          <div class="contenedor-img-resenia">
            <img src="imagenes/resenia3.jpg" class="card-img-top" alt="proplan gato cachorro">
          </div>
          <div class="card-body">
            <h5 class="card-title">Mateo</h5>
            <div class="resenia-icon">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star"></i>
             </div>
            <p class="card-text">Mi gato es sensible de estómago y se me dificultaba conseguir un alimento que no le hiciera mal, decidí probar con el Receta Especial que venden y nunca más tuvo problemas.</p>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
        <div class="carousel-item">
          <div class="contenedor-resenias">
            <div class="borde2">
              <div class="borde1">
                <div class="card" style="width: 21rem;">
                  <div class="contenedor-img-resenia">
                    <img src="imagenes/resenia4.jpg" class="card-img-top" alt="proplan gato cachorro">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Pedro</h5>
                    <div class="resenia-icon">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star"></i>
                    </div>
                    <p class="card-text">Increíble la rapidez con la que me llegó el pedido, los recomiendo siempre!</p>
                  </div>
                </div>
              </div>
            </div>
      <div class="borde2">
        <div class="borde1">
          <div class="card" style="width: 21rem;">
            <div class="contenedor-img-resenia">
              <img src="imagenes/resenia5.jpg" class="card-img-top" alt="proplan gato cachorro">
            </div>
            <div class="card-body">
              <h5 class="card-title">Jorge</h5>
              <div class="resenia-icon">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
               </div>
              <p class="card-text">Mucha variedad de productos y con precios que se ajustan a cada bolsillo.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="borde2">
        <div class="borde1">
          <div class="card" style="width: 21rem;">
            <div class="contenedor-img-resenia">
              <img src="imagenes/resenia6.jpg" class="card-img-top" alt="proplan gato cachorro">
           </div>
            <div class="card-body">
              <h5 class="card-title">Matias</h5>
              <div class="resenia-icon">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
               </div>
                <p class="card-text">Excelente la atención que tienen con el cliente!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselResenias" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselResenias" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- ACA COMIENZA LA SECCION DE PREGUNTAS Y RESPUESTAS -->
<section class="faq-container">
  <h2 class="faq-title" id="faq">Preguntas Frecuentes</h2>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          ¿Que tipos de alimentos ofrecen?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">En <span class="span-logo-faq">Cfood©</span> ofrecemos una amplia variedad de alimentos, ya sean húmedos o secos, tanto para perros como para gatos.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          ¿Que opciones de pago aceptan y cual es el monto mínimo de compra?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Aceptamos tarjeta de crédito, débito, transferencia bancaria, efectivo y criptomonedas. La compra mínima es de $5.000.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          ¿Venden alimentos sin gluten o veganos?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Si! Tenemos alimentos específicamente diseñados para todo tipo de requerimientos nutricionales.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          ¿Puedo personalizar mi orden o realizar pedidos especiales?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Nuestro equipo de profesionales realiza asesorías personalizadas según cada cliente, no dude en consultarnos!</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          ¿Como garantizan la calidad y frescura de sus ingredientes?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">En <span class="span-logo-faq">Cfood©</span> implementamos las Normas ISO 9001 para garantizarle un estricto control de inocuidad en la elaboración y distribución de nuestros productos.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          ¿Cual es el rango de cobertura para envíos, tiene costo el mismo?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Haciendo <a href="/envios">click aquí</a> puede consultar la disponibilidad y costos de envío según su localidad.</div>
      </div>
    </div>
    
  </div>
</section>

<%- include('../partials/footer.ejs') %>