<%- include('../partials/header.ejs', { carritoLength: carritoLength }) %>
<section class="mediosPago">
    <h1 class="login-title">MEDIOS DE PAGO</h1>
    <div class="mediosPago-container">
        <div class="icons-div">
            <i class="bi bi-credit-card"></i>
            <h2>TARJETA DE CRÉDITO Y DÉBITO</h2>
        </div>
        <div class="icons-div">
            <i class="bi bi-bank"></i>
            <h2>TRANSFERENCIAS BANCARIAS</h2>
        </div>
        <div class="icons-div">
            <i class="bi bi-cash"></i>
            <h2>CONTADO EFECTIVO</h2>
        </div>
        <div class="icons-div">
            <i class="bi bi-currency-bitcoin"></i>
            <h2>CRIPTOMONEDAS</h2>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>