<%- include('../partials/header.ejs', { carritoLength: carritoLength }) %>
<section class="section-nosotros-container">
    <h1 class="login-title">SOBRE NOSOTROS</h1>
    <div class="nosotros-container">
        <div class="nosotros-texto">
            <p class="nosotros-p">Somos un equipo de 2 programadores Full Stack dedicado al diseño e-commerce. La web está diseñada con un fondo blanco y detalles en naranja para llamar la atención. Nuestro sitio web es una moderna plataforma dedicada a proveer alimentos para mascotas de alta calidad, y otros productos relacionados.</p>
            <p class="nosotros-p">A través de esta web los clientes pueden facilmente recorrer y comprar productos en línea, con un proceso de Checkout amigable y con opciones de pago seguras. Estamos orgullosos de poder presentarles esta sitio web, dedicado a todos los amantes de las mascotas.</p>
        </div>
        <a href="/contacto"><button class="contact-btn">CONTACTO</button></a>
    </div>
    
</section>
<%- include('../partials/footer.ejs') %>