<%- include('../partials/header.ejs') %>
<section>
    <h1 class="login-title">RECUPERAR CONTRASEÑA</h1>
    <form>
        <input>
        <button>Enviar código</button>
    </form>
</section>
<%- include('../partials/footer.ejs') %>