<%- include('../partials/header.ejs', { carritoLength: carritoLength }) %>
<section >
    <h1 class="login-title">RECUPERAR CONTRASEÑA</h1>
    <div class="olvide-contrasenia">
        <%- include('../partials/mensajes.ejs') %>
        <form action="/olvide" method="post">
            <input type="email" name="email" placeholder="Ingrese su email" required>
            <button type="submit">Enviar código</button>
        </form>
        <a href="/login">Regresar al Login</a>
    </div>
</section>
<%- include('../partials/footer.ejs') %>